.service-block .inner-box {
    position: relative;
    text-align: center;
    padding: 50px 15px 80px;
    background-color: #ffffff;
    border-radius: 0px 0px 15px 0px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}


footer .list-link li a:hover {
    text-decoration: overline;
}