@media only screen and (min-width: 1200px){
    .page-header__logo img {
        height: 70px;
        margin-top: 10px;
    }

    section.section {
        padding: 70px 0;
    }
    .main-menu__item .main-menu__link {
        padding: 35px 20px 30px 20px;
    }
    .page-header--fixed .main-menu__item .main-menu__link {
        padding: 15px 20px 10px 20px;
    }

    .page-header--fixed  .page-header__logo img {
        height: 45px;
        margin-top: 10px;
    }
}

.screen {
    position: relative;
    width: 320px;
    min-height: 100%;
    padding: 100px 56px 120px 45px;
    background: #31373f;
}

@media only screen and (min-width:992px){
    .testimonials__nav{display: inline-block;
                       height: 200px;}
}
